span.p-autocomplete.p-component {
    width: 250px;
    height: 70px;
}

input.p-inputtext.p-component.p-autocomplete-input {
    width: 250px;
    height: 70px;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
}