body .p-menubar {
    background-color: #404040;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

body .p-menu .p-menuitem-link
.p-menuitem-text, body
.p-menubar .p-menuitem-link
.p-menuitem-text, body
.p-tieredmenu .p-menuitem-link
.p-menuitem-text, body .p-contextmenu
.p-menuitem-link .p-menuitem-text, body .p-megamenu .p-menuitem-link .p-menuitem-text, body
.p-slidemenu .p-menuitem-link .p-menuitem-text {
    color: white;
}

body .p-menu .p-menuitem-link .p-menuitem-icon, body .p-menubar
.p-menuitem-link .p-menuitem-icon, body .p-tieredmenu
.p-menuitem-link .p-menuitem-icon, body .p-contextmenu
.p-menuitem-link .p-menuitem-icon, body .p-megamenu
.p-menuitem-link .p-menuitem-icon, body .p-slidemenu
.p-menuitem-link .p-menuitem-icon {
    color: white;
    margin-right: 0.5em;
}